/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.container {
  height: 100%;  
  display: flex;
  align-items: center;
  flex-direction: column;
    /* color: #01a01b;
    color: #86ac00;
    color: #68001a;
    color: #2a3d94;
    color: #dd9803; */
}
/* #map {
  height: 80%;
  width: 960px;
  cursor: crosshair;
} */
.hide {
  display: none;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;

}      
/*************************/
/*       Instruction     */
/*************************/
.instruction {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.instruction .container {
  width: 80%;
  color: #000;
  font-size: 2em;
  font-weight: lighter;
  padding: 40px 0;
  text-align: center;
}


/*************************/
/*        SatList        */
/*************************/
.sat-list {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.sat-list .container {
  width: 80%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

} 
.sat-list .input-container {
  color: #000;
  font-size: 1.1em;
  font-weight: 200;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
}

.sat-list .input-button {

}

/*    СТИЛИЗАЦИЯ INPUT   */
/* .input {
  width: 100%;
  border: none;
  text-align: center;
  outline:none;
  background-color: #e5e9f8;
}
.input:hover {
  background-color: #dae0f8;
}
.input:focus { 
  width: 100%;
  border: none;
  background-color: #dae0f8;
}
.input:focus::placeholder { 
  border: none;
  background-color: #dae0f8;
} */

/*  СТИЛИЗАЦИЯ CHECKBOX  */

.sat-list-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sat-list-checkbox-label {
  border:none;
  border-bottom: 3px solid #f5f5f5;
  padding-bottom: 10px;
  cursor: pointer;
}
.sat-list-checkbox-label:hover {
  border-bottom: 3px solid #a1a7c2;
}

.sat-list-checkbox:checked + .sat-list-checkbox-label {
  border-bottom: 3px solid #1f253d;
  color: #1f253d;
}


/*************************/
/*     FormPlaceSetup    */
/*************************/
.form-place-setup {
  width: 100%;
  background-color: #eeeded;
  /* margin-top: 40px; */
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.form-place-setup .container-form{
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.form-place-setup .title {
  font-size: 1em;
  padding-bottom: 6px;
  color: #100055;
  font-weight: 500;
  font-family: arial, sans-serif;
}

.form-place-setup .input-form {
  font-size: 1em;
  color: #000;
}

.form-place-setup .form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

.form-place-setup .input-place-container {
  width: 40%;
  margin: 20px;
}
.form-place-setup .input-place {
  width: calc(100% - 20px);
  margin-right: 20px;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  outline: 0;

}

.form-place-setup .input-coord-container {
  width: 40%;
  margin: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.form-place-setup .inputs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-place-setup .input-coord {
  padding: 8px 16px;
  width: 40%;
  margin-right: 20px;
  border: none;
  font-size: 1em;
  border-color: none;

  outline: 0;
}

.form-place-setup .input-button-container {
  width: 20%;
  /* margin: 20px; */
}
.form-place-setup .title-hide {
  font-size: 1em;
  padding-bottom: 6px;
  color: #eeeded;
}
.form-place-setup .input-button {
  font-size: 1em;
  width:100%;
  padding: 9px 16px;
  /* background-color: #019601; */
  background-color: #213797;
  color: #fff;
  border: none;
}
.form-place-setup .input-button:hover {
  transition: 0.5s;
  background-color: #2407a5;
}


.view-cover {
  width: 960px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #eeeded;
}

.view-container {
  display: flex;
  align-items: left;
  flex-direction: column;
}

/*************************/
/*       OfferList       */
/*************************/
.offerList {
  width: 100%;
  background-color: #ffffff;
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offerList .container{
  width: 960px;
  margin: 30px 0 30px 0;
  padding: 20px;
  background-color: #eeeded;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*************************/
/*       OfferBox        */
/*************************/


.offersBox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 188px;
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: 400px;
  position: absolute;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 2px;
  font-family: arial, sans-serif;
  font-size: 13px;
  background-color: #fff;
  padding: 10px;
  top: 60px;
  left: 10px;
  overflow: hidden;
  -webkit-transition: 0.5s; 
  transition: 0.5s; 
  cursor: default;

}
.offersBox:hover {
  -webkit-transition: 0.5s; 
  transition: 0.5s; 
  width: 400px;
}
.offersBox .titleBox {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin: 0 10px 20px 10px; */
  padding: 10px;
}
.offersBox .title {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5px;
  text-align: center;
}
.offersBox .description {
  font-size: 1em;
  color: rgb(94, 94, 94);
  background-color: #eafff0;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.line {
  margin-top: 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.offersBox .titleBox .offerCategory{
  margin-bottom: 10px;
  font-size: 1.1em;
  text-align: center;
  font-weight: 600;

}

.offersBox .titleBox .header{
  max-height: 20px;
  font-size: 1em;
  color: rgb(94, 94, 94);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
}
.offersBox .titleBox .header .name {
  width: 60%;
  font-size: 1em;
  min-width: 180px;
}
.offersBox .titleBox .header .saleNew {
  width: 20%;
  text-align: center;
}
.offersBox .titleBox .header .rent {
  width: 20%;
  text-align: center;
}



.offersBox .container {
  height: max-content;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;  
}
.offersBox .offerBox {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.offersBox .offerBox:hover {
  /* background-color: #eeeded; */
  background: linear-gradient( #f6fcff, #eeeded);
  -webkit-background: linear-gradient( #f6fcff, #eeeded);

  -webkit-transition: 0.2s; 
  transition: 0.2s; 
}
.offerBox .offer {
  font-size: 0.9em;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}
.offerBox .name {
  width: 60%;
  min-width: 180px;
  padding-left: 5px;
}

.offerBox .saleNew {
  width: 20%;
  display: flex;
  justify-content: center;
}
.offerBox .rent {
  width: 20%;
  display: flex;
  justify-content: center;
}

.offersBox .footer {
  height: 30px;
  padding: 10px 0 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.offersBox .footer .checkTitle {
  padding-left: 10px;
}
/* для элемента input c type="checkbox" */
.offersBox .footer .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .customCheckbox */
.offersBox .footer .checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

/* создание в label псевдоэлемента before со следующими стилями */
.offersBox .footer .checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.offersBox .footer .checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #47527c;
  /* border: 3px solid #b3d7ff; */
}

/* стили для активного чекбокса (при нажатии на него) */
.offersBox .footer .checkbox:not(:disabled):active+label::before {
  background-color: #ececff;
  border-color: #ececff;
}

/* стили для чекбокса, находящегося в фокусе */
.offersBox .footer .checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(31, 37, 61, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.offersBox .footer .checkbox:focus:not(:checked)+label::before {
  border-color: #787e99;
}

/* стили для чекбокса, находящегося в состоянии checked */
.offersBox .footer .checkbox:checked+label::before {
  border-color: #1f253d;
  background-color: #1f253d;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.offersBox .footer .checkbox:disabled+label::before {
  background-color: #e9ecef;
}

/*************************/
/*     OfferSatInfo      */
/*************************/
.offerSatInfo {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.offerSatInfo .box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 50px;
  margin-right: 30px;
}
.offerSatInfo .satTitle {
  width: 40%;
}
.offerSatInfo .title {
  color: #2407a5;
  font-weight: 600;
  font-family: arial, sans-serif;
  font-size: 16px;
}
.offerSatInfo .data {
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
}

/*************************/
/*         Footer        */
/*************************/
.footer {
  width: 100%;
  background-color: #eeeded;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.footer .container{
  width: 80%;
  height: 100px;
}