/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.container {
  height: 100%;  
  display: flex;
  align-items: center;
  flex-direction: column;
    /* color: #01a01b;
    color: #86ac00;
    color: #68001a;
    color: #2a3d94;
    color: #dd9803; */
}
/* #map {
  height: 80%;
  width: 960px;
  cursor: crosshair;
} */
.hide {
  display: none;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;

}      
/*************************/
/*       Instruction     */
/*************************/
.instruction {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.instruction .container {
  width: 80%;
  color: #000;
  font-size: 2em;
  font-weight: lighter;
  padding: 40px 0;
  text-align: center;
}


/*************************/
/*        SatList        */
/*************************/
.sat-list {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.sat-list .container {
  width: 80%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

} 
.sat-list .input-container {
  color: #000;
  font-size: 1.1em;
  font-weight: 200;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
}

.sat-list .input-button {

}

/*    СТИЛИЗАЦИЯ INPUT   */
/* .input {
  width: 100%;
  border: none;
  text-align: center;
  outline:none;
  background-color: #e5e9f8;
}
.input:hover {
  background-color: #dae0f8;
}
.input:focus { 
  width: 100%;
  border: none;
  background-color: #dae0f8;
}
.input:focus::placeholder { 
  border: none;
  background-color: #dae0f8;
} */

/*  СТИЛИЗАЦИЯ CHECKBOX  */

.sat-list-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sat-list-checkbox-label {
  border:none;
  border-bottom: 3px solid #f5f5f5;
  padding-bottom: 10px;
  cursor: pointer;
}

.sat-list-checkbox:checked + .sat-list-checkbox-label {
  border-bottom: 3px solid #1f253d;
  color: #1f253d;
}


/*************************/
/*     FormPlaceSetup    */
/*************************/
.form-place-setup {
  width: 100%;
  background-color: #eeeded;
  /* margin-top: 40px; */
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.form-place-setup .container-form{
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.form-place-setup .title {
  font-size: 1em;
  padding-bottom: 6px;
  color: #100055;
  font-weight: 500;
  font-family: arial, sans-serif;
}

.form-place-setup .input-form {
  font-size: 1em;
  color: #000;
}

.form-place-setup .form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

.form-place-setup .input-place-container {
  width: 40%;
  margin: 20px;
}
.form-place-setup .input-place {
  width: calc(100% - 20px);
  margin-right: 20px;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  outline: 0;

}

.form-place-setup .input-coord-container {
  width: 40%;
  margin: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.form-place-setup .inputs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-place-setup .input-coord {
  padding: 8px 16px;
  width: 40%;
  margin-right: 20px;
  border: none;
  font-size: 1em;
  outline: 0;
}

.form-place-setup .input-button-container {
  width: 20%;
  /* margin: 20px; */
}
.form-place-setup .title-hide {
  font-size: 1em;
  padding-bottom: 6px;
  color: #eeeded;
}
.form-place-setup .input-button {
  font-size: 1em;
  width:100%;
  padding: 9px 16px;
  /* background-color: #019601; */
  background-color: #213797;
  color: #fff;
  border: none;
}
.form-place-setup .input-button:hover {
  transition: 0.5s;
  background-color: #2407a5;
}


.view-cover {
  width: 960px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #eeeded;
}

.view-container {
  display: flex;
  align-items: left;
  flex-direction: column;
}

/*************************/
/*       OfferList       */
/*************************/
.offerList {
  width: 100%;
  background-color: #ffffff;
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offerList .container{
  width: 960px;
  margin: 30px 0 30px 0;
  padding: 20px;
  background-color: #eeeded;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*************************/
/*     OfferSatInfo      */
/*************************/
.offerSatInfo {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.offerSatInfo .box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 50px;
  margin-right: 30px;
}
.offerSatInfo .satTitle {
  width: 40%;
}
.offerSatInfo .title {
  color: #2407a5;
  font-weight: 600;
  font-family: arial, sans-serif;
  font-size: 16px;
}
.offerSatInfo .data {
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
}

/*************************/
/*         Footer        */
/*************************/
.footer {
  width: 100%;
  background-color: #eeeded;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.footer .container{
  width: 80%;
  height: 100px;
}